@model $safeprojectname$.Models.Contact

@{
    ViewBag.Title = "Mail sent";
}

<h2 class="text-center" style="padding-top:200px;padding-bottom: 50px;">Your message was sent successfully. Thanks.</h2>
@using (Html.BeginForm("Index", "Contacts", FormMethod.Post))
{
    <div style="padding-bottom: 300px;" class="center">
        <p><a href="/Contacts" class="btn btn-primary btn-large">OK &raquo;</a></p>
    </div>
}