
            <style>
                #ww-cp {
                    position: absolute;
                    right: 15px;
                    top: 6px;
                    width: 170px;
                    color: #355D86;
                    text-align: center;
                }

                    #ww-cp img {
                        margin-top: 3px;
                    }
            </style>

            @{
    ViewBag.Title = "Advise";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

            <p>
                Whether
                you have lost or found a pet, there are several ways that we hope to
                be able to support you.
            </p>
            <h3>If your pet has gone missing – <a href="/find-lost-pets/report-a-lost-pet1.php?nr=1">You can report and match with found pets here &gt;</a></h3>
            <p>
                When a pet goes missing, it can be difficult to know what to do next, or
                where to turn for help.  By sharing the benefit of our experience, we
                hope to support you in being reunited in the shortest possible time.
            </p>
            <p><a href="lost-pet-help-advice.php" title="">Advice if you've lost your pet</a></p>
            <h3> If you have found a pet – <a href="/find-lost-pets/report-a-found-pet1.php?nr=1">You can report and match with lost pets here &gt;</a></h3>
            <p>
                If
                you’ve come across an unfamiliar pet in your area, there are a
                number of steps you can take towards re-uniting it with its owner, as
                quickly as possible.
            </p>
            <p><a href="found-pet-help-advice.php" title="">Advice if you have found a pet</a></p>
            <p>If you are still unsure, why not <a href="/contact-us.php">contact us</a>.</p>
            <p>Here's a bit more information about our work and one of the services we offer.</p>
            <p><!--[if !mso]><![endif]--></p>
            <p><!--[if gte mso 9]><![endif]--><!--[if gte mso 9]><![endif]--><!--[if gte mso 9]><![endif]--><!--[if gte mso 10]><![endif]--></p>
            <p class="MsoNormal">
                <span style="color: #1F497D">
                    Animal
                    Search UK is the UK’s leading Missing Pet Search Specialist and FREE lost and
                    found website for any kind of family pet from cats to canaries. It’s a surprise
                    to most people that talk to us to hear that approx. 100 and on a busy day up to
                    120 individual lost or found pets are reported to us each day and recorded on
                    our nationwide database. That’s a staggering figure of over 40,000 pets each
                    year. <br />
                </span>
            </p>
            <p class="MsoNormal">
                <span style="color: #1F497D">
                    The
                    good news is that thanks to the clever automatic matching facility the team at
                    Animal Search UK have devised, hundreds of the pets listed on their website
                    pages with up to 4 photos are reunited each month. Not to mention the plentiful
                    tips and ideas to help find a pet offered on their help and advice page. When a
                    pet is listed on the database by a member of the public as ‘found’ or by an
                    owner as ‘lost’, the mapping system accurately searches pets reported in a
                    similar area or neighbourhood and then an email is sent automatically to the
                    finder or owner to say that a match has been detected and they should get in
                    touch with one another.
                </span>
            </p>
            <p class="MsoNormal">
                <span style="color: #1F497D">
                    The
                    other very effective&nbsp;way that Animal Search UK helps to reunite families
                    (that includes the pets) is by offering a professional poster and leaflet
                    service with all of the publicity bearing a FREEPHONE number. This means that
                    members of the community who happen to see the posters displayed in&nbsp; the
                    streets where the pet is lost, can ring the 24 hour UK based owner support team
                    from Animal Search UK with sightings. Likewise if someone had delicate news
                    about an incident where their dog may have chased the missing pet (they are
                    primarily cats), or there may have been a road traffic collision which is
                    something some drivers wouldn’t feel comfortable calling an owner about
                    directly. They can use the organisation’s number to report news anonymously. Animal
                    Search UK’s founder Tom Watkins states:
                </span>
            </p>
            <p class="MsoNormal">
                <em>
                    <span style="color: #1F497D">
                        “I firmly believe that
                        as a pet owner myself I’d rather have sad news than no news. If a driver only
                        had the option to ring an owner having seen their homemade posters then there
                        is a risk they may not call at all. Therefore no closure for the family. I’m
                        glad to report we’ve reunited hundreds of pets this year already with happy
                        endings so it’s certainly not all sad outcomes. What I can say is that there is
                        more chance of reuniting a pet if an owner uses our poster and leaflet
                        publicity service compared to if they don’t”.
                    </span>
                </em><span style="color: #1F497D">
                    <br />
                </span>
            </p>
            <p class="MsoNormal">
                <span style="color: #1F497D">
                    The
                    other little known fact is that some
                </span><a href="http://www.argospetinsurance.co.uk/">
                    <span style="font-family: &quot;Arial&quot;,&quot;sans-serif&quot;">
                        pet
                        insurance
                    </span>
                </a><span style="color: #1F497D">
                    companies offer help and support in terms of funding for campaigns such as the
                    one mentioned above. In some policies there is ‘Advertising and reward cover’
                    this means a service provided by the experts at Animal Search UK may cost the
                    owner nothing at all. In the vast majority of cases there is no excess to pay
                    either. For more information about different insurance providers who may offer
                    this kind of important cover, then speak to their customer services or look up
                    the terms and conditions of your current&nbsp;policy online or in the paperwork
                    provided.
                </span>
            </p>
            
</html>