@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Leeds Pet Finder</h1>
    <p class="lead">We specialise in helping to reunite owners with lost or stolen pets. Our web site is free to use, provides local coverage and lots including free help and advice for people who have lost or found a pet and are wondering what best to do. These animal loving people have kindly agreed to help keep an eye out for missing pets in their area, giving immediate reassurance that you are not alone in finding your pet.
Found a lost dog? Notify us for FREE! We will do the rest. We match similar pet descriptions to quickly produce a match for potential pets to be returned to their owner as soon as possible.</p>
    <p><a href="/Home/Contact" class="btn btn-primary btn-large">Report a missing pet &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>