<head>
    <style type="text/css">
        .btn-large {}
        .auto-style1 {
            text-align: center;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Leeds Pet Finder</h1>
    <p class="lead">We specialise in helping to reunite owners with lost or stolen pets. Our web site is free to use, provides local coverage and lots including 
    free help and advice for people who have lost or found a pet and are wondering what best to do. These animal loving people have kindly agreed to help keep an
     eye out for missing pets in their area, giving immediate reassurance that you are not alone in finding your pet. Found a lost dog? Notify us for FREE! We will
     do the rest. We match similar pet descriptions to quickly produce a match for potential pets to be returned to their owner as soon as possible.
    </p>

    <p class="auto-style1"><a href="/Home/Contact" class="btn btn-primary btn-large">Report a missing pet &raquo;</a></p>



    <p class="lead">We specialise in helping to reunite owners with lost or stolen pets. Our web site is free to use, provides local coverage and lots including 
    free help and advice for people who have lost or found a pet and are wondering what best to do. These animal loving people have kindly agreed to help keep an
     eye out for missing pets in their area, giving immediate reassurance that you are not alone in finding your pet. Found a lost dog? Notify us for FREE! We will
     do the rest. We match similar pet descriptions to quickly produce a match for potential pets to be returned to their owner as soon as possible.
    </p>
    <p class="auto-style1"><a href="/Home/Contact" class="btn btn-primary btn-large">Report a missing pet &raquo;</a></p>

</div>
