
@{
    ViewBag.Title = "WelcomePage";
}

<div>
    <h2>@ViewBag.PopupValue</h2>
    <b>Employee Name:</b> @ViewBag.EmployeeName<br />
</div>
<p><a href="/Pets" class="btn btn-primary btn-large">OK &raquo;</a></p>
